{% extends 'base.html.twig' %}

{% block title %}Correo Compra{% endblock %}

{% block body %}
    <div class="col-md-4 border-start">
            <div class="card mb-4 border-0">
              <div class="card-body">
                <h3 class="mb-4">Resumen  de pago</h3>
                <ul class="list-group list-group-flush">
                  {% set total = 0 %}
                  {% for producto in app.session.get('carrito') %}
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    {% if producto['producto'].categoria==1 %}
                        Marca: {{producto['producto'].marca}} , Modelo: {{producto['producto'].modelo}}, Tipo: {{producto['producto'].tipo}}  (x{{ producto['cantidad']  }})
                     <span>€{{ (producto['producto'].precio * producto['cantidad']) }}</span>
                    {% endif %}
                    {% if producto['producto'].categoria==2 %}
                         Marca: {{producto['producto'].marca}} , Tipo: {{producto['producto'].tipoProducto}}, (x{{ producto['cantidad']  }})
                    {% endif %}  
                    <span>€{{ (producto['producto'].precio * producto['cantidad']) }}</span>
                    {% set total = total + (producto['producto'].precio * producto['cantidad']) %}
                  </li>
                  {% else %}
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Productos
                    <span>€0</span>
                  </li>  
                  {% endfor %}
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Envío
                    <span>Gratis</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <div>
                      <strong>Total(incluye IVA): €{{total}}</strong>
                    </div>
                </li>
                </ul>
{% endblock %}