
{% block content %}
	<form method="POST" action="{{ path('app_user_edit', {'id': user.id}) }}" enctype="multipart/form-data">
		{{ form_start(form) }}

		<!-- Dirección -->
		<div class="mb-12">
			<h2 class="text-lg font-semibold text-gray-700 mb-4">Dirección</h2>
			<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
				<div>
					{{ form_label(form.direccion, 'Calle, número', {'label_attr': {'class': 'text-sm font-semibold text-gray-600'}}) }}
					{{ form_widget(form.direccion, {'attr': {'class': 'w-full mt-1 p-2 border rounded'}}) }}
				</div>
				<div>
					{{ form_label(form.ciudad, 'Ciudad', {'label_attr': {'class': 'text-sm font-semibold text-gray-600'}}) }}
					{{ form_widget(form.ciudad, {'attr': {'class': 'w-full mt-1 p-2 border rounded'}}) }}
				</div>
				<div>
					{{ form_label(form.cp, 'Código Postal', {'label_attr': {'class': 'text-sm font-semibold text-gray-600'}}) }}
					{{ form_widget(form.cp, {'attr': {'class': 'w-full mt-1 p-2 border rounded'}}) }}
				</div>
			</div>
		</div>

		{{ form_end(form) }}
	</form>


{% endblock %}
