{% extends 'base.html.twig' %}

{% block title %}Optica Nova - Gafas
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/gafas.css') }}">
{% endblock %}

{% block body %}
    {{ include('comun/header.html.twig') }}

    <div class="example-wrapper">
        <div class="gafas-container">
            <h2 class="text-xl text-center text-gray-600 mb-6">Descubre nuestra colección</h2>

            <div class="gafas-grid">
                {% for gafa in gafas %}
                    <div class="gafas-card">
                        <img src="{{ asset('images/gafas/' ~ gafa.imageName) }}" alt="{{ gafa.descripcion }}" class="w-full h-48 object-cover ">
                        <div class="p-4">
                            <h2 class="gafas-card-title">{{ gafa.marca }}
                                {{ gafa.modelo }}</h2>
                            <p class="gafas-card-description">{{ gafa.descripcion }}</p>
                            <p class="gafas-card-price">{{ gafa.precio }}€</p>
                            <button class="bg-stone-600 gafas-button">Añadir al carrito</i></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
