{% extends 'base.html.twig' %}

{% block title %}Optica Nova
{% endblock %}

{% block body %}
	<style></style>

	{{ include('comun/header.html.twig') }}

	<div
		class="relative w-full max-w-5xl mx-auto px-4 md:px-0 mt-4">
		<!-- Carousel wrapper -->
		<div class="overflow-hidden relative rounded-lg">
			<div class="flex transition-transform duration-500 ease-in-out transform" id="carousel">
				{% set imageCount = 0 %}
				{% for campaign in publicidad %}
					{# Check and display the first image (imageName) #}
					{% if campaign.imageName is not null %}
						<div class="min-w-full">
							<img src="{{ asset('campania/' ~ campaign.imageName) }}" alt="Image 1" class="w-full h-full object-cover">
							{% set imageCount = imageCount + 1 %}
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<!-- Navigation buttons for image selection (dots) -->
			<div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
				{% for i in 0..(imageCount - 1) %}
					<button id="dot-{{ i }}" class="w-8 h-3 rounded-full bg-gray-200 hover:bg-white transition-all duration-300 focus:outline-none" onclick="scrollToImage({{ i }})"></button>
				{% endfor %}
			</div>

			<!-- Navigation buttons -->
			<button class="absolute top-1/2 left-0 transform -translate-y-1/2 p-3 text-white hover:text-gray-600 hover:bg-opacity-75 focus:outline-none" onclick="scrollCarousel(-1)">
				<svg class="w-12 h-12 hover:stroke-novagreen" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-width="2" d="M15 19l-7-7 7-7"></path>
				</svg>
			</button>
			<button class="absolute top-1/2 right-0 transform -translate-y-1/2 p-3 text-white hover:bg-opacity-75 focus:outline-none" onclick="scrollCarousel(1)">
				<svg class="w-12 h-12 hover:stroke-novagreen" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-width="2" d="M9 5l7 7-7 7"></path>
				</svg>
			</button>
		</div>

		<!-- Logos Carousel using Swiper -->
		<div class="my-16">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% for marca in marcas %}
						<div class="swiper-slide">
							<img src="{{ asset('images/marcas/' ~ marca) }}" alt="marca" class="h-10 w-auto object-contain">
						</div>
					{% endfor %}
				</div>

				<!-- Navigation buttons -->
				<div class="swiper-button-next">
					<i class="fas fa-chevron-right"></i>
					<!-- Right Arrow Icon -->
				</div>
				<div class="swiper-button-prev">
					<i class="fas fa-chevron-left"></i>
					<!-- Left Arrow Icon -->
				</div>
			</div>
		</div>


		<div class="my-16 text-center px-4">
			<h2 class="text-2xl text-gray-800 font-semibold mb-4">
				En Nova Ópticos miramos por ti
			</h2>
			<p class="text-gray-800 text-lg leading-relaxed">
				Cuidamos de tu visión ofreciéndote las mejores soluciones en gafas graduadas, gafas de sol y lentillas para garantizar siempre tu satisfacción.
			</p>
			<p class="mt-4 text-gray-800 text-lg leading-relaxed">
				Nuestro objetivo es ofrecer a nuestros clientes la mejor atención en todos los sentidos: asesoramiento personalizado, servicios de revisión de la vista, y productos que se adaptan a las necesidades de todos los bolsillos gracias a nuestras ofertas y promociones.
			</p>
		</div>
	</div>

	{{ include('comun/footer.html.twig') }}

	<script>
		let currentIndex = 0;

// Function to update the active class on the dots
function updateDotStatus() {
const dots = document.querySelectorAll('button[id^="dot-"]');
dots.forEach(dot => dot.classList.remove('active-dot'));
const currentDot = document.getElementById('dot-' + currentIndex);
if (currentDot) {
currentDot.classList.add('active-dot');
}
}

function scrollCarousel(direction) {
const carousel = document.getElementById("carousel");
const totalSlides = carousel.children.length;
currentIndex = (currentIndex + direction + totalSlides) % totalSlides;
carousel.style.transform = `translateX(-${
currentIndex * 100
}%)`;
updateDotStatus();
}

function scrollToImage(index) {
const carousel = document.getElementById("carousel");
const totalSlides = carousel.children.length;
currentIndex = index;
carousel.style.transform = `translateX(-${
currentIndex * 100
}%)`;
updateDotStatus();
}

// Initialize the first dot as active on page load
updateDotStatus();
	</script>

{% endblock %}
