
{% block content %}

			<div class="mb-12"> <h2 class="text-lg font-semibold text-gray-700 mb-4">Pedidos realizados</h2>
			<div class="grid grid-cols-2 gap-4">
				<div class="col-span-2">
					{{ form_label(form.nombre, 'Nombre', {'label_attr': {'class': 'text-sm font-semibold text-gray-600'}}) }}
					{{ form_widget(form.nombre, {'attr': {'class': 'w-full mt-1 p-2 border rounded'}}) }}
				</div>
				<div>
					{{ form_label(form.apellido1, 'Primer Apellido', {'label_attr': {'class': 'text-sm font-semibold text-gray-600'}}) }}
					{{ form_widget(form.apellido1, {'attr': {'class': 'w-full mt-1 p-2 border rounded'}}) }}
				</div>
				<div>
					{{ form_label(form.apellido2, 'Segundo Apellido', {'label_attr': {'class': 'text-sm font-semibold text-gray-600'}}) }}
					{{ form_widget(form.apellido2, {'attr': {'class': 'w-full mt-1 p-2 border rounded'}}) }}
				</div>
				<div class="col-span-2">
					{{ form_label(form.email, 'Email', {'label_attr': {'class': 'text-sm font-semibold text-gray-600'}}) }}
					{{ form_widget(form.email, {'attr': {'class': 'w-full mt-1 p-2 border rounded'}}) }}
				</div>



{% endblock %}
