{% extends 'base.html.twig' %}

{% block title %}Detalles de Gafas
{% endblock %}

{% block body %}
	{{ include('comun/header.html.twig') }}

<!-- Contenido de la página -->
<div class="flex flex-col items-center py-12 justify-center gap-8 px-4 sm:px-8 lg:px-16">

    <!-- BREADCRUMBS (envuelto en un contenedor para alinearlo a la izquierda) -->
    <div class="w-full px-4 sm:px-12">
        <div class="flex flex-wrap mb-2 justify-start sm:ml-[230px]">
            <button class="w-[124px] h-[35px] text-sm text-center shadow p-2 rounded-bl-3xl rounded-tr-3xl mr-3" onclick="window.location.href='/'">
                Inicio
            </button>
            
            {% if gafa.tipo == 'gafas sol' %}
                <button class="w-[124px] h-[35px] text-sm text-center shadow p-2 rounded-bl-3xl rounded-tr-3xl mr-3" onclick="window.location.href='/gafas-sol'">
                    Gafas de sol
                </button>
            {% elseif gafa.tipo == 'gafas graduadas' %}
                <button class="w-[124px] h-[35px] text-sm text-center shadow p-2 rounded-bl-3xl rounded-tr-3xl mr-3" onclick="window.location.href='/gafas'">
                    Gafas
                </button>
            {% endif %}
            
            <p class="h-[35px] px-4 text-sm text-center font-bold shadow p-2 rounded-bl-3xl rounded-tr-3xl">
                {{ gafa.marca }} {{ gafa.modelo }}
            </p>
        </div>
    </div>

    <!-- DETALLES GAFA -->
    <div class="shadow py-4 px-4 sm:px-6 lg:px-8 w-full md:w-[80%] lg:w-[70%] rounded justify-center">
        <div class="flex flex-col md:flex-row gap-4 items-center md:items-start">
            
            <!-- Contenedor izquierdo: miniaturas e imagen principal -->
            <div class="flex flex-col md:flex-row gap-4 items-center">
                <!-- Miniaturas -->
                <div class="flex flex-col md:flex-col sm:flex-row xs:flex-row gap-2 justify-center md:justify-start">
                    {% if gafa.imageName %}
                        <img src="{{ asset('images/gafas/' ~ gafa.imageName) }}" alt="Miniatura 1" onclick="updateMainImage('{{ asset('images/gafas/' ~ gafa.imageName) }}')" class="w-20 h-20 object-cover border border-gray-300 rounded cursor-pointer hover:ring-2 hover:ring-blue-500"/>
                    {% endif %}
                    {% if gafa.imageName2 %}
                        <img src="{{ asset('images/gafas/' ~ gafa.imageName2) }}" alt="Miniatura 2" onclick="updateMainImage('{{ asset('images/gafas/' ~ gafa.imageName2) }}')" class="w-20 h-20 object-cover border border-gray-300 rounded cursor-pointer hover:ring-2 hover:ring-blue-500"/>
                    {% endif %}
                    {% if gafa.imageName3 %}
                        <img src="{{ asset('images/gafas/' ~ gafa.imageName3) }}" alt="Miniatura 3" onclick="updateMainImage('{{ asset('images/gafas/' ~ gafa.imageName3) }}')" class="w-20 h-20 object-cover border border-gray-300 rounded cursor-pointer hover:ring-2 hover:ring-blue-500"/>
                    {% endif %}
                </div>

                <!-- Imagen principal -->
                <div class="border border-gray-300 rounded w-[250px] h-[250px] md:w-[400px] md:h-[400px] bg-white flex justify-center items-center">
                    <img id="mainImage" src="{{ asset('images/gafas/' ~ gafa.imageName) }}" alt="{{ gafa.marca }} {{ gafa.modelo }}" class="max-w-full max-h-full object-cover rounded"/>
                </div>
            </div>

            <!-- Contenedor derecho: información del producto -->
            <div class="flex flex-col gap-6 justify-center items-center md:items-start text-center md:text-left">
                <!-- Marca y modelo -->
                <h1 class="text-2xl font-bold text-gray-800">{{ gafa.marca }} {{ gafa.modelo }}</h1>
                <!-- Precio -->
                <p class="text-xl font-semibold text-gray-600">{{ gafa.precio }}€</p>
                <!-- Disponibilidad -->
                <p class="flex items-center text-sm text-gray-500">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#707582" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="..."></path>
                    </svg>
                    Disponible para recogida en tienda 24h
                </p>
                <!-- Botón de añadir al carrito -->
                <form id="addToCartForm" data-url="{{ path('app_aniadir', {'id': gafa.id, 'cat': 1}) }}">
                    <button 
                        type="button" 
                        onclick="addToCart()" 
                        class="text-lg font-semibold py-3 px-6 rounded focus:outline-none focus:ring-2 focus:ring-purple-500 
                            {% if stock == 0 or stock is null %} 
                                bg-gray-400 cursor-not-allowed opacity-50 
                            {% else %}
                                bg-purple-600 hover:bg-purple-700 text-white
                            {% endif %}"
                        {% if stock == 0 or stock is null %} 
                            disabled 
                        {% endif %}>
                        {% if stock == 0 or stock is null %}
                            Sin Stock
                        {% else %}
                            Añadir al carrito
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>

        <!-- Descripción -->
        <div class="w-full mt-8 border-t border-gray-200 pt-4">
            <p class="text-gray-700 leading-relaxed">
                {{ gafa.descripcion|striptags }}
            </p>
        </div>
    </div>

    <!-- DESCRIPCIÓN DETALLADA -->
    <div class="shadow py-6 px-4 sm:px-6 lg:px-8 w-full md:w-[80%] lg:w-[70%] rounded bg-white text-gray-800">
        <h2 class="text-xl font-bold mb-4">Detalles de producto</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 text-sm">
            <!-- Columna izquierda -->
            <div>
					<div class="flex justify-between py-1 border-b">
						<span class="font-semibold">Marca</span>
						<span>{{ gafa.marca|default('-')|capitalize }}</span>
					</div>
					<div class="flex justify-between py-1 border-b">
						<span class="font-semibold">Modelo</span>
						<span>{{ gafa.modelo|default('-')|capitalize }}</span>
					</div>
					<div class="flex justify-between py-1">
						<span class="font-semibold">Color de montura</span>
						<span>{{ gafa.colorMontura|default('-')|capitalize }}</span>
					</div>
				</div>

				<!-- Columna derecha -->
				<div>
					<div class="flex justify-between py-1 border-b">
						<span class="font-semibold">Tipo de montura</span>
						<span>{{ gafa.tipoMontura|default('-')|capitalize }}</span>
					</div>
					<div class="flex justify-between py-1 border-b">
						<span class="font-semibold">Material de montura</span>
						<span>{{ gafa.materialMontura|default('-')|capitalize }}</span>
					</div>
					<div class="flex justify-between py-1">
						<span class="font-semibold">Color de lente</span>
						<span>{{ gafa.colorLentes|default('-')|capitalize }}</span>
					</div>
				</div>
        </div>
    </div>

    <!-- QUIZÁS TAMBIÉN TE GUSTE -->
    <div class=" gafasContainer flex flex-wrap justify-center gap-4 md:gap-8 mx-4">
        {% for gafa in gafas|slice(0, 6) %}
        <div class="gafa-card w-[140px] md:w-[180px] lg:w-[200px] bg-white rounded-lg shadow overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl" data-id="{{ gafa.id }}">
            <img src="{{ asset('images/gafas/' ~ gafa.imageName) }}" alt="{{ gafa.descripcion }}" class="w-full h-40 object-cover">
            <div class="px-4 py-2">
                <h3 class="text-gray-800 text-xs md:text-sm">{{ gafa.marca }} {{ gafa.modelo }}</h3>
                <p class="text-gray-900 text-md md:text-lg">{{ gafa.precio|number_format(2, ',', '') }}€</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- BOTÓN DE SUBIR -->
    <div class="fixed bottom-4 right-4 z-50">
        <button id="scrollToTopBtn" class="bg-gray-800 text-white w-10 h-10 sm:w-12 sm:h-12 rounded-full shadow-lg flex items-center justify-center hover:bg-gray-700 transition duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"/>
            </svg>
        </button>
    </div>
</div>

	</div>

	{{ include('comun/footer.html.twig') }}

	 <script>
		// FUNCION IMAGEN
		function updateMainImage(imageUrl) {
			const mainImage = document.getElementById('mainImage');
			mainImage.src = imageUrl;
		}

		// FUNCION SNACKBAR
		async function addToCart() {
			const form = document.getElementById('addToCartForm');
			const url = form.dataset.url;

			try {
				// Realiza una solicitud POST al servidor
				const response = await fetch(url, {
					method: 'POST',
					headers: {
						'X-Requested-With': 'XMLHttpRequest', // Para identificar la solicitud como AJAX
					},
				});

				if (response.ok) {
					// Mostrar el snackbar
					const snackbar = document.getElementById('snackbar');
					snackbar.classList.remove('opacity-0');
					snackbar.classList.add('opacity-100');

					// Ocultarlo después de 3 segundos
					setTimeout(() => {
						snackbar.classList.remove('opacity-100');
						snackbar.classList.add('opacity-0');
					}, 3000);
				} else {
					console.error('Error al añadir al carrito:', response.statusText);
				}
			} catch (error) {
				console.error('Error en la solicitud:', error);
			}
		}

		// CLICK CARD DE GAFAS
		document.addEventListener('DOMContentLoaded', function() {
			// Seleccionamos todas las cards de gafas
			const cards = document.querySelectorAll('.gafa-card');

			// Añadimos el evento click a cada card
			cards.forEach(card => {
				card.addEventListener('click', function() {
					// Obtenemos el ID de la gafa desde el atributo data-id
					const gafaId = card.getAttribute('data-id');
					
					// Redirigimos al usuario a la página correspondiente
					window.location.href = `/gafas/${gafaId}/show`;
				});
			});
		});

		// BOTÓN DE SUBIR
		
		document.getElementById('scrollToTopBtn').addEventListener('click', () => {
			window.scrollTo({ top: 0, behavior: 'smooth' });
		});
	</script>

{% endblock %}
