{% extends 'base.html.twig' %}

{% block title %}Campanias index{% endblock %}

{% block body %}
    <h1>Campanias index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imagen1</th>
                <th>Imagen2</th>
                <th>Imagen3</th>
                <th>Imagen4</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campania in campanias %}
            <tr>
                <td>{{ campania.id }}</td>
                <td>
                    {% if campania.imageName %}
                    <img src="{{ vich_uploader_asset(campania, 'imageFile') }}" alt="{{ campania.imageName }}" width="80px">
                    {% endif %}
                </td>
                <td>
                    {% if campania.imageName2 %}
                    <img src="{{ vich_uploader_asset(campania, 'imageFile2') }}" alt="{{ campania.imageName2 }}" width="80px">
                    {% endif %}
                </td>
                <td>
                    {% if campania.imageName3 %}
                    <img src="{{ vich_uploader_asset(campania, 'imageFile3') }}" alt="{{ campania.imageName3 }}" width="80px">
                    {% endif %}
                </td>
                <td>
                    {% if campania.imageName4 %}
                    <img src="{{ vich_uploader_asset(campania, 'imageFile4') }}" alt="{{ campania.imageName4 }}" width="80px">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_campanias_show', {'id': campania.id}) }}">show</a>
                    <a href="{{ path('app_campanias_edit', {'id': campania.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_campanias_new') }}">Create new</a>
{% endblock %}
