




  <div>
      <h3>Resumen  de pago</h3>
      <ul >
      {% set total = 0 %}
      {% for producto in carrito %}
        <li>
          {% if producto['producto'].categoria==1 %}
                Marca: {{producto['producto'].marca}} , Modelo: {{producto['producto'].modelo}}, Tipo: {{producto['producto'].tipo}}, (x{{ producto['cantidad']  }}, x {{producto['producto'].precio}})
          {% endif %}
                <span>€{{ (producto['producto'].precio * producto['cantidad']) }}</span>
          
          {% if producto['producto'].categoria==2 %}
                Marca: {{producto['producto'].marca}} , Tipo: {{producto['producto'].tipoProducto}}, (x{{ producto['cantidad']  }}, x {{producto['producto'].precio}})
          {% endif %}  
               <span>€{{ (producto['producto'].precio * producto['cantidad']) }}</span>
          {% set total = total + (producto['producto'].precio * producto['cantidad']) %}
        </li>
           {% else %}
         <li >
            Productos
            <span>€0</span>
          </li>  
        {% endfor %}
          <li>
            Envío
            <span>Gratis</span>
          </li>
          <li>
          <div>
          <strong>Total(incluye IVA): €{{total}}</strong>
          </div>
      </li>
    </ul>
</div>
